@model FAS.SharedModel.LoginViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-box">
    <h3 class="box-title" id="title" hidden="hidden">Admin</h3>
    <input type="text" id="userid" value="@Session["UserID"]" hidden="hidden" />
    <div class="login-box-body">
        <div class="box">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Change Password</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" id="passwordForm" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Old Password</label>
                        <input type="password" class="form-control borderfas" name="OldPassword" placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" class="form-control borderfas" id="password" name="Password" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password<span class="pull-right" style="color:red; margin-left:10px;" id='pass'></span></label>
                        <input type="password" class="form-control borderfas" id="confirmPassword" name="" placeholder="Confirm Password">
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" id="change" class="btn btn-primary pull-right">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="commonError" class="modal modal text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding:200px;">
        <div class="callout  lead text-center" id="cl">
            <h4>Alert !</h4>
            <p id="errorMessage"></p>
            <a href="/Home/Index" id="clbut" style="text-decoration: none;" class="btn btn-block">OK !</a>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    var title = $('#title').html();
    $('#' + title).css('background-color', '#A2EEE6');
    $('#confirmPassword').on('keyup focusout', function () {
        if ($(this).val() == $('#password').val() && $(this).val() != "") {
            $('#pass').html('<i class="fa fa-check-circle"></i>').css('color', 'green');
        } else $('#pass').html('<i class="fa fa-exclamation-circle ">   Incorrect Password</i>').css('color', 'red');
    });
    $('#change').unbind().click(function (e) {
        $('#passwordForm').unbind().submit(function (e) {
            e.preventDefault(e);
            var userid = $('#userid').val();
            var form = $(this);
            var formData = { type: form.attr('method'), data: form.serialize()+"&UserID="+userid}
            console.log(formData);
            ChangePassword(formData, function (response) {
                if (response.message == "Password Changed Successfully") {
                    $('#errorMessage').text('Password Change Successful');
                    $('#cl').addClass('callout-success');
                    $('#clbut').addClass('btn-success');
                    $('#commonError').toggle();
                } else {
                    $('#errorMessage').text('Password Change Unsuccessful');
                    $('#cl').addClass('callout-danger');
                    $('#clbut').addClass('btn-danger');
                    $('#commonError').toggle();
                }
            });
        });
    });
</script>

