@model FAS.SharedModel.LoginViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Login.cshtml";
}
<div class="login-box">
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/Login"><img src="~/Content/img/Logo.png" style="width:100%"></a>
        </div>
        @using (Html.BeginForm(new { @class = "form-signin" }))
            {
            <form action="../../index2.html" method="post">
                <div class="form-group has-feedback text-center">
                    <label>Can't sign in ? Forget your password?</label>
                    <p>Enter your email address below and we'll send you  password reset instructions.</p>
                </div>
                <div class="form-group has-feedback text-center">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter email address", @id = "txtusername", @type = "email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Send me reset Instructions</button>
                    </div>
                    <div class="col-xs-4 pull-left">
                        <a href="~/Home" class="btn btn-default btn-block btn-flat"><i class="ion-arrow-left-a"></i></a>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

