
@{
    ViewBag.Title = "Unauthorize";
    Layout = "~/Views/Shared/Login.cshtml";
}

<div class="login-box">
    <div class="login-box-body">
        <div class="login-logo" style="margin:0px;">
            <a href="../index2.html"><img src="~/Content/img/Logo.png" style="width:100%"></a>
        </div>
        <div class="row">
            
            <div class="col-md-12 text-center">
                <div class="checkbox icheck">
                    <h1><i class="fa fa-frown-o" style="font-size:50px;"></i></h1>
                    <h4>Sorry you are not authorized</h4>
                    <h4><a href="http://www.matrix-ams.com">Please Contact Administator</a></h4>
                </div>
                <div class="col-xs-12">
                    <a href="~/Home/Index" class="btn btn-primary btn-block btn-flat">Back to Application</a>
                </div>
            </div>
        </div>
        <!-- /.social-auth-links -->
    </div>
    <!-- /.login-box-body -->
</div>

