@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 20px; padding-right: 20px;">
    <h3 class="box-title" id="title" hidden="hidden">Reports</h3>
    <div class="box">
        <div class="box-header with-border">
            <div class="col-md-12">
                <h3 class="box-title box-title-main">Select Location</h3>
                <input type="text" id="userid" value="@Session["UserID"]" hidden="hidden" />
                <input type="text" id="role" value="@Session["Role"]" hidden="hidden" />
            </div>
            <div class="col-md-3" style="margin-top: 10px;">

                <label for="exampleInputEmail1">Location</label>
                <select class="form-control borderfas" id="Location" style="background-color: #ffffff;">
                    <option id="def">Select Location</option>
                </select>

            </div>

            @*<div class="col-md-1 pull-right" style="margin-top: 35px;">
                    <button type="button" class="btn btn-default" id="BarcodeButton" style="margin: 0px; color: #fff; border: 1px solid #46c7ba; background-color: #46c7ba;"><i class="fa fa-search"></i></button>
                </div>

                <div class="col-md-3 pull-right" style="margin-top: 10px;">
                    <label for="exampleInputEmail1">Barcode ID</label>
                    <input type="number" class="form-control" style="border: 2px solid #46c7ba;" id="Barcode">
                </div>*@
        </div>
        <div class="box-body with-border">
            <div class="col-md-12 text-center" style="border-bottom: 1px solid #46c7ba;">
                <div class="col-md-3">
                </div>
                <div class="col-md-5 text-center" style="margin-top: 10px;">
                    <h3 class="box-title box-title-main">Asset Index Summary Report</h3>
                    <div class="col-md-12" style="padding: 0px; top: 20px;">
                        <button type="button" class="btn btn-app" style="margin: 0px; color: #000000; border: 1px solid rgb(177, 231, 224); background-color: rgb(177, 231, 224); margin-bottom: 40px;" id="DescriptionButton"><i class="fa fa-search"></i>Search</button>
                    </div>
                    @*<input type="text" class="form-control" style="border: 2px solid #46c7ba;" id="Description" placeholder="Enter your asset description">*@
                    @*<label style="font-weight: 600; margin-top:40px;">Refine Your Search</label>*@
                </div>

                @*<div class="col-md-3" style="border: 3px solid #46c7ba; float: right; width:17%; padding:13px;">
                        <h1 id="total" style="color: #46c7ba;">0</h1><span style="font-weight:600">Total Assets Found</span>
                    </div>*@
                <div class="col-md-3 col-sm-3 col-xs-3" style="float: right; margin-top: 13px;">
                    <!-- small box -->
                    @*<div class="small-box bg-b3">
                        <div class="inner text-center">
                            <div>
                                <h3 id="total">0</h3>
                                <img id="loader" src="~/Content/img/loading.gif" style="width:30px; height:30px; margin:10px;" />
                                <p>Total Assets</p>
                            </div>
                        </div>
                        <div class="icon">
                        </div>
                    </div>*@
                    <div class="small-box bg-b3">
                        <div class="inner">
                            <h3 id="total" style="font-size:60px;">0</h3>
                            <img id="loader" src="~/Content/img/loading.gif" style="width:56px; height:56px; margin:10px;" />
                        </div>
                        <div class="small-box-footer" style="font-size:17px; color:black; font-weight:700;">
                            Total Assets
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row text-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="table2excel" data-tableName="Test Table 1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th  style="border: 1px solid #999;">Asset Category</th>
                                                    <th  style="border: 1px solid #999;">Asset Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody id="assets">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<script>
    var title = $('#title').html();
    $('#' + title).css('background-color', '#A2EEE6');
    $('#loader').hide();
    Table = $("#table2excel").DataTable({
        data: [],
        columns: [
             { data: 'CategoryName' },
             { data: 'CategoryCount' }
        ],
        dom: 'Bfrtip',
        buttons: [{
            extend: 'excelHtml5',
            text: 'Export to Excel',
            customize: function (xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                var downrows = 3;
                var clRow = $('row', sheet);
                //update Row
                clRow.each(function () {
                    var attr = $(this).attr('r');
                    var ind = parseInt(attr);
                    ind = ind + downrows;
                    $(this).attr("r", ind);
                });

                // Update  row > c
                $('row c ', sheet).each(function () {
                    var attr = $(this).attr('r');
                    var pre = attr.substring(0, 1);
                    var ind = parseInt(attr.substring(1, attr.length));
                    ind = ind + downrows;
                    $(this).attr("r", pre + ind);
                });

                function Addrow(index, data) {
                    msg = '<row r="' + index + '">'
                    for (i = 0; i < data.length; i++) {
                        var key = data[i].k;
                        var value = data[i].v;
                        msg += '<c t="inlineStr" r="' + key + index + '" s="42">';
                        msg += '<is>';
                        msg += '<t>' + value + '</t>';
                        msg += '</is>';
                        msg += '</c>';
                    }
                    msg += '</row>';
                    return msg;
                }
                var locat = $("#Location option:selected").text();
                //insert
                var r1 = Addrow(1, [{ k: 'A', v: 'Matrix Fixed Asset Solution' }]);
                var r2 = Addrow(2, [{ k: 'A', v: 'Report Name' }, { k: 'B', v: 'Asset Search Report' }]);
                var r3 = Addrow(3, [{ k: 'A', v: 'Location Name' }, { k: 'B', v: locat }]);


                sheet.childNodes[0].childNodes[1].innerHTML = r1 + r2 + r3 + sheet.childNodes[0].childNodes[1].innerHTML;
            }
        }],
        rowCallback: function (row, data) {
        },
        //filter: true,
        //info: false,
        //ordering: false,
        //processing: true,
        //retrieve: true
    });

    var role = $('#role').val();
    if (role == "USER" || role == "UADMIN") {
        var userId = $('#userid').val();
        var formData = {
            type: "post",
            data: { 'UserID': userId }
        };


    }

    var role = $('#role').val();
    if (role == "USER" || role == "UADMIN") {
        var userId = $('#userid').val();
        var formData = {
            type: "post",
            data: { 'UserID': userId }
        };
        Permissions(formData, function (response) {
            if (response.data[16]['Permission'] == 'False') {
                //$('#excel').prop("disabled", true);
            }
        });
        GetUserLocation(formData, function (response) {
            if (response.data.length == 1) {
                $('#def').remove();
            }
            $.each(response.data, function (key, value) {
                $("#Location").append($("<option></option>").val(value.L1LocCode).html(value.L1LocName));
            });
        });
    } else {
        getLocationAdmin(function (response) {
            $.each(response.data, function (key, value) {
                $("#Location").append($("<option></option>").val(value.L1LocCode).html(value.L1LocName));
            });
        });
    }


    $("#Location").change(function () {
        Table.clear().draw();
        var total = 0;
        $('#total').text(total);

    });


    $('#DescriptionButton').unbind().click(function () {
        $('#total').hide();
        $('#loader').show();
        var Location = $("#Location").find(':selected').val();
        var formData = {
            type: "post",
            data: { 'L1LocCode': Location }
        };
        getDashboardData(formData, function (response) {
            console.log(response);
            $('#excel').unbind().click(function () {
                JSONToCSVConvertor(response.data.TotalCategory, "Asset", true);
            });
            $('#total').text(response.data.AssetCount);
            $('#loader').hide();
            $('#total').show();
            Table.clear().draw();
            Table.rows.add(response.data.TotalCategory).draw();
        });
    });

    $(document).on('click', '.images', function (e) {
        var image = $(this).attr('src');
        $('#myModal').on('show.bs.modal', function () {
            $("#img01").attr("src", image);
        });
    });
</script>

