
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 20px; padding-right: 20px;">
    <h3 class="box-title" id="title" hidden="hidden">Disposal</h3>
    <input type="text" id="userid" value="@Session["UserID"]" hidden="hidden" />
    <input type="text" id="role" value="@Session["Role"]" hidden="hidden" />
    <input type="text" id="CompanyName" value="@Session["CompanyName"]" hidden="hidden" />
    <div class="box" id="lb">
        <div class="box-header with-border">
            <div class="col-md-12">
                <h3 class="box-title box-title-main">Select Location</h3>
            </div>
            <div class="col-md-3" style="margin-top: 10px;">
                <label for="exampleInputEmail1">Location</label>
                <select class="form-control borderfas" id="Location" style="background-color: #ffffff;">
                    <option id="def">Select Location</option>
                </select>
            </div>
            @*<div class="col-md-3" style="margin-top: 10px;">
                    <label>Date of Disposal</label><br />
                    <select class="form-control borderfas" id="DisposedOn" style="background-color: #ffffff;">
                        <option value="">ALL</option>
                    </select>
                </div>*@
            <div class="col-md-3" style="margin-top: 10px;">
                <label>Disposal Number</label><br />
                <select class="form-control borderfas" id="DisposedNumber" style="background-color: #ffffff;">
                    <option value="">Select Disposal Number</option>
                </select>
            </div>
        </div>
        <div class="box-body with-border">
            <div class="col-md-12 text-center" style="border-bottom: 1px solid #46c7ba;">
                <div class="col-md-3">
                    <h3 class="box-title box-title-main pull-left">Disposed Asset Report</h3>
                </div>
                <div class="col-md-5" style="margin-top: 10px;">
                    <button type="button" class="btn btn-app" style="margin: 0px; color: #000000; border: 1px solid rgb(177, 231, 224); background-color: rgb(177, 231, 224); margin-bottom: 40px;" id="DescriptionButton"><i class="fa fa-search"></i>Search</button>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3" style="float: right; margin-top: 13px;">
                    <!-- small box -->
                    <div class="small-box bg-b3">
                        <div class="inner">
                            <h3 id="total" style="font-size:60px;">0</h3>
                            <img id="loader" src="~/Content/img/loading.gif" style="width:56px; height:56px; margin:10px;" />
                        </div>
                        <div class="small-box-footer" style="font-size:17px; color:black; font-weight:700;">
                            Total Disposed Assets
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="table2excel" data-tableName="Test Table 1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th></th>
                                                <th style="border: 1px solid #999;">Barcode ID</th>
                                                <th style="border: 1px solid #999;">ERP No</th>
                                                <th style="border: 1px solid #999;">Asset Description</th>
                                                <th style="border: 1px solid #999;">Section Name</th>
                                                <th style="border: 1px solid #999;">Asset Group</th>
                                                <th style="border: 1px solid #999;">Unit Price</th>
                                                <th style="border: 1px solid #999;">Depreciated</th>
                                                <th style="border: 1px solid #999;">Net Book Value</th>
                                                <th style="border: 1px solid #999;">Room No</th>
                                                <th style="border: 1px solid #999;">Asset Category</th>
                                                <th style="border: 1px solid #999;">Date of Disposal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="assets"></tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal modal text-center">

        <img class="modal-content modal-content" id="img01" style="min-height:0%; top:100px; border: 10px solid #a2a4a3; border-radius: 30px; width:500px;">

        <div id="caption"></div>
    </div>

    <div id="DataModal" class="modal modal">
        <div class="box" style="top:100px; width:90%; margin-left: 70px;" id="#lb2">
            <div class="box-header with-border text-center">
                <a href="#" id="print" class="btn btn-primary pull-left" style="background-color:orange; border-color: #ffa500;"><i class="fa fa-print"></i>  Print</a>
                <h3 class="box-title">Asset Detail</h3>
                <button type="button" class="close pull-right" data-dismiss="modal" style="color: #00b3a1;">×</button></div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <table class="table">
                        <thead><tr><th style="color:orange; border-bottom: 2px solid #ffa51f;">Product Detail</th></tr></thead>
                        <tbody>
                            <tr><th>Barcode ID</th> <td id="bc">10008777</td></tr>
                            <tr><th>Description</th><td id="ds">LIFTER MINI</td></tr>
                            <tr><th>Group</th><td id="gr">EQUIPMENT</td></tr>
                            <tr><th>Category</th><td id="ct">LIFTER</td></tr>
                            <tr><th>Section</th><td id="se">OFFICE</td></tr>
                            <tr><th>Room No</th><td id="rn">ENGR OFFICE</td></tr>
                            <tr><th>Room Type</th><td id="rt"></td></tr>
                            <tr><th>Floor</th><td id="fl">B</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <table class="table">
                        <thead><tr><th style="color:orange; border-bottom: 2px solid #ffa51f;">Purchase Details</th></tr></thead>
                        <tbody>
                            <tr><th>Supplier Name</th> <td id="sn">10008777</td></tr>
                            <tr><th>Invoice Number</th><td id="in">69-69-896</td></tr>
                            <tr><th>Date of Purchase</th><td id="dop">23-02-2017</td></tr>
                            <tr><th>Currency</th><td id="cu">US Dollar</td></tr>
                            <tr><th>Unit Price</th><td id="up">2500</td></tr>
                            <tr><th>PO Number</th><td id="pn">2569698</td></tr>
                            <tr><th>Date of PO</th><td id="dpo">24-02-2017</td></tr>
                            <tr><th>Supplier Email</th><td id="sel">JKtrader@live.com</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                    <img src="~/Content/img/notavailable.png" id="imgid" style="width:70%" />
                    <h1 style="color:green;" id="h3"></h1>
                </div>
            </div>
        </div>
    </div>


</div>
@*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>


<script>

    console.log($("#CompanyName").val(), "This");
    var Info
    $('.datepicker').datepicker({
        autoclose: true
    });
    $('#Location').attr('disable', true);
    $('#loader').hide();
    var url = decodeURI(window.location.search);
    console.log(url);
    if (url != "") {
        var urL = url.split('?');
        //console.log(urL);
        L1LocCode = urL[1];
        Group = urL[2];
        Section = urL[3];
        setTimeout(function () {
            $('#Location').val(L1LocCode);
            $('#AssetGroup').append($('<option>', { value: 1, text: '' + Group + '' }));
            $('#AssetSection').append($('<option>', { value: 1, text: '' + Section + '' }));
            $('#AssetGroup').val("1");
            $('#AssetSection').val("1");
        }, 2000);

        var form = { "L1LocCode": L1LocCode, "L1CatName": Group, "L2LocName": Section };
        var formData = {
            type: "POST",
            data: form
        };
        $('#Location').val("DEMO1");
        $('#total').hide();
        $('#loader').show();
        getAsset(formData, function (response) {
            var total = response.data.length;
            $('#total').text(total);
            $('#loader').hide();
            $('#total').show();
            Table.clear().draw();
            Table.rows.add(response.data).draw();
        });

    }
    var title = $('#title').html();
    $('#' + title).css('background-color', '#A2EEE6');
    $('#print').unbind().click(function () {
        $("#lb").css("display", "none");
        $(".content").css("height", "1000px");

        window.print();
    });
    /* Formatting function for row details - modify as you need */
    function format(d) {
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
                '<td>Supplier Name</td>' +
                '<td> ALTAJ SELLERS</td>' +
            '</tr>' +
            '<tr>' +
                '<td>Unit Price</td>' +
                '<td>24 $</td>' +
            '</tr>' +
            '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
            '</tr>' +
        '</table>';
    }

    Table = $("#table2excel").DataTable({
        data: [],
        columns: [
            {
                className: 'details-control',
                orderable: false,
                data: null,
                defaultContent: ''
            },
            { data: 'AssetNumber' },
            {
                data: null,
                defaultContent: ''
            },
            { data: 'AssetDescription' },
            { data: 'Section' },
            { data: 'Group' },
            { data: 'UnitPrice' },
            { data: 'Depreciated' },
            { data: 'NetbookValue' },
            { data: 'Room_No' },
            { data: 'Category' },
            { data: 'DisposedOn' }
        ],
        dom: 'Bfrtip',
        buttons: [{
            extend: 'pdfHtml5',
            text: 'Export to PDF',
            orientation: 'landscape',
            title: "REPORT",
            customize: function (doc) {

                
                var Location = $("#Location").find(':selected').val();
                var LocationName = $("#Location").find(':selected').html();
                var DisposedNumber = $("#DisposedNumber").find(':selected').val();
                doc.content.splice(1, 0,
                 {
                     margin: [0, 0, 0, 12],
                     alignment: 'left',
                     text: 'Asset Disposal Report \n \n Location Name: ' + LocationName + ' \n \n Disposal Number: ' + DisposedNumber + ''
                 }
                );

                doc.content.splice(3, 0,
                 {
                     margin: [0, 20, 0, 0],
                     alignment: 'center',
                     table: {
                         body: [
                             [{ text: 'Prepared By: ' + Info['ProcessedByName'] + '', style: '' }, { text: 'Validated By: ' + Info['ValidatedByName'] + '', style: '' }, { text: 'Reviewed By: ' + Info['ReviewedByName'] + '', style: '' }, { text: 'Verified By: ' + Info['VerifiedByName'] + '', style: '' }, { text: 'Agreed By: ' + Info['AgreedByName'] + '', style: '' }, { text: 'Approved By: ' + Info['ApprovedByName'] + '', style: '' }, { text: 'Approved By AM: HO AM Director', style: '' }],
                             [{ text: 'Date: ' + Info['DateOfProcessing'] + '', style: '' }, { text: 'Date: ' + Info['DateOfValidation'] + '', style: '' }, { text: 'Date: ' + Info['DateOfReview'] + '', style: '' }, { text: 'Date: ' + Info['DateOfVerification'] + '', style: '' }, { text: 'Date: ' + Info['DateOfAgreement'] + '', style: '' }, { text: 'Date: ' + Info['DateOfApproval'] + '', style: '' }, { text: 'Date: Date of Approval', style: '' }],
                             [{ text: 'Outlet Manager / Inv Controller', style: 'subheader' }, { text: 'Department Head', style: 'subheader' }, { text: 'Chief Engineer', style: 'subheader' }, { text: 'Director of Finance', style: 'subheader' }, { text: 'General Manager', style: 'subheader' }, { text: 'Head Office - Finance', style: 'subheader' }, { text: 'Head Office AM Director', style: 'subheader' }],
                             [{ text: 'Remarks: \n ' + Info['ProcessingRemarks'] + '', style: 'subheader' }, { text: 'Remarks: \n ' + Info['ValidationRemarks'] + '', style: 'subheader' }, { text: 'Physical Item Check: \n \n Quotation Reviewed: \n \n Remarks: \n ' + Info['ReviewRemarks'] + '', style: 'subheader' }, { text: 'Remarks: \n ' + Info['VerificationRemarks'] + '', style: 'subheader' }, { text: 'Remarks: \n ' + Info['AgreementRemarks'] + '', style: 'subheader' }, { text: 'Approval \n \n Head of Finance', style: 'subheader', alignment: 'center' }, { text: 'Final Approval \n \n Head of Asset Management', style: 'subheader', alignment: 'center' }]
                         ]
                     }
                 }
                );
            }
        },
        ]
    });

    // Add event listener for opening and closing details
    $('#table2excel tbody').on('click', 'td.details-control', function () {
        $('#DataModal').modal('toggle');
        var tr = $(this).closest('tr');
        var row = Table.row(tr);
        var data = row.data();
        $('#bc').html(data.AssetNumber);
        $('#ds').html(data.AssetDescription);
        $('#gr').html(data.Group);
        $('#ct').html(data.Category);
        $('#se').html(data.Section);
        $('#rn').html(data.Room_No);
        $('#rt').html(data.Room_Type);
        $('#fl').html(data.Floor);
        $('#h3').text(data.Status);
        $('#imgid').attr('src', '' + baseUrl.appServer + 'Content/img/' + data.Image + '.jpg');
        if (data.Status == "ACTIVE") {
            $('#h3').css('color', 'green');
        } else {
            $('#h3').css('color', 'red');
        }
        var Location1 = $('#Location').val();
        var UID = Location1 + data.AssetNumber;
        var form = { "UniqueID": UID };
        var formData = { type: "POST", data: form };
        PurchaseDetail(formData, function (response) {
            console.log(response);
            $('#sn').html(response.data.SupplierName);
            $('#in').html(response.data.InvoiceNumber);
            $('#dop').html(response.data.DateofPurchase);
            $('#cu').html(response.data.iso);
            $('#up').html(response.data.UnitPrice);
            $('#pn').html(response.data.PONumber);
            $('#dpo').html(response.data.DateofPO);
            $('#sel').html(response.data.SupplierEmail);
        });
    });

    var role = $('#role').val();
    if (role == "USER" || role == "UADMIN") {
        var userId = $('#userid').val();
        var formData = {
            type: "post",
            data: { 'UserID': userId }
        };

        Permissions(formData, function (response) {
            if (response.data[4]['Permission'] == 'False') {
                //$('#excel').prop("disabled", true);
            }
        });
        GetUserLocation(formData, function (response) {
            if (response.data.length == 1) {
                $('#def').remove();
                setTimeout(function () {
                    var Location1 = $("#Location").find(':selected').val();
                    var formData = {
                        type: "POST",
                        data: { 'L1LocCode': Location1 }
                    };

                    DisposalNumberList(formData, function (response) {
                        console.log(response);
                        $("#DisposedNumber").select2();
                        $.each(response.data, function (key, value) {
                            $("#DisposedNumber").append($("<option></option>").val(value.DisposalNumber).html(value.DisposalNumber));
                        });
                    });
                }, 1000);

            }
            $.each(response.data, function (key, value) {
                $("#Location").append($("<option></option>").val(value.L1LocCode).html(value.L1LocName));
            });
        });
        setTimeout(function () {
            var Location1 = $('#Location').val();
            var formData = {
                type: "POST",
                data: { 'L1LocCode': Location1 }
            };

            getL3Category(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#description").append($("<option></option>").val(value.L3CatCode).html(value.L3CatName));
                });
                $("#description").select2();
            });

        }, 2000);

    } else {
        getLocationAdmin(function (response) {
            $.each(response.data, function (key, value) {
                $("#Location").append($("<option></option>").val(value.L1LocCode).html(value.L1LocName));
            });
        });

        $('#Location').unbind().change(function () {
            var Location1 = $("#Location").find(':selected').val();
            var formData = {
                type: "POST",
                data: { 'L1LocCode': Location1 }
            };

            var formData = {
                type: "POST",
                data: { 'L1LocCode': Location1 }
            };
        });
    }


    $('#Location').unbind().change(function () {
        Table.clear().draw();
        var total = 0;
        $('#total').text(total);
        var Location1 = $("#Location").find(':selected').val();
        var formData = {
            type: "POST",
            data: { 'L1LocCode': Location1 }
        };

        getL3Category(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#Description").append($("<option></option>").val(value.L3CatCode).html(value.L3CatName));
            });
            $("#Description").select2();
        });

        var formData = {
            type: "POST",
            data: { 'L1LocCode': Location1 }
        };

        DateOfDisposal(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#DisposedOn").append($("<option></option>").val(value.DateOfDisposal).html(value.DateOfDisposal));
            });
            $("#DisposedOn").select2();
        });

        DisposalNumberList(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#DisposedNumber").append($("<option></option>").val(value.DisposalNumber).html(value.DisposalNumber));
            });
            //$("#DisposedNumber").select2();
        });
    });

    $('#DescriptionButton').unbind().click(function () {
        $('#total').hide();
        $('#loader').show();
        $('.odd').remove();
        var Location = $("#Location").find(':selected').val();
        var DisposedNumber = $("#DisposedNumber").find(':selected').val();

        var form = { "L1LocCode": Location, "DisposalNumber": DisposedNumber };
        var formData = {
            type: "POST",
            data: form
        };
        console.log(formData);
        DisposalTransaction(formData, function (response) {
            console.log(response);
            var total = response.data.Asset.length;
            $('#total').text(total);
            console.log(total);
            $('#loader').hide();
            $('#total').show();
            console.log($("#CompanyName").val());
            if($("#CompanyName").val() === ""){
                $("#CompanyName").val("REPORT");
            }
            console.log($("#CompanyName").val());
            Info = {
                        ProcessedByName: response.data['ProcessedByName'],
                        ReviewedByName: response.data['ReviewedByName'],
                        VerifiedByName: response.data['VerifiedByName'],
                        AgreedByName: response.data['AgreedByName'],
                        ValidatedByName: response.data['ValidatedByName'],
                        ApprovedByName: response.data['ApprovedByName'],
                        ProcessingRemarks: response.data['ProcessingRemarks'],
                        ReviewRemarks: response.data['ReviewRemarks'],
                        VerifiedBy: response.data['VerifiedBy'],
                        AgreementRemarks: response.data['AgreementRemarks'],
                        ValidationRemarks: response.data['ValidationRemarks'],
                        ApprovalRemarks: response.data['ApprovalRemarks'],
                        VerificationRemarks: response.data['VerificationRemarks'],
                        DateOfAgreement: response.data['DateOfAgreement'],
                        DateOfApproval: response.data['DateOfApproval'],
                        DateOfDisposal: response.data['DateOfDisposal'],
                        DateOfProcessing: response.data['DateOfProcessing'],
                        DateOfReProcessing: response.data['DateOfReProcessing'],
                        DateOfReview: response.data['DateOfReview'],
                        DateOfValidation: response.data['DateOfValidation'],
                        DateOfVerification: response.data['DateOfVerification']
                    };

            Table.clear().draw();
            Table.rows.add(response.data['Asset']).draw();
            //$('#excel').unbind().click(function () {
            //    $.each(response.data, function (key, value) {
            //        delete value.Image;
            //    });
            //});
        });
    });

    $(document).on('click', '.images', function (e) {
        var image = $(this).attr('src');
        $('#myModal').on('show.bs.modal', function () {
            $("#img01").attr("src", image);
        });
    });


</script>