
@{
    ViewBag.Title = "Bulk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 20px; padding-right: 20px;">
    <h3 class="box-title" id="title" hidden="hidden">InventoryManagement</h3>
    <input type="text" id="userid" value="@Session["UserID"]" hidden="hidden" />
    <input type="text" id="role" value="@Session["Role"]" hidden="hidden" />
    <div class="box">
        <div class="box-body with-border">
            <div class="col-md-12 text-center" style="border-bottom: 1px solid #46c7ba;">
                <div class="col-md-4">
                    <h3 class="box-title box-title-main pull-left">Bulk Asset Disposal</h3>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 pull-right" style="margin-top: 10px; margin-bottom: 10px;">
                            <label for="exampleInputEmail1">Select Location Name</label>
                            <select name="L1LocCode" class="form-control Location borderfas" id="Loc" required="required">
                                <option id="defl">Location Name</option>
                            </select>
                        </div>
                        <div class="col-md-4 pull-right" style="margin-top: 10px; margin-bottom: 10px;">
                            <label for="exampleInputEmail1">Select Company Name</label>
                            <select name="CompanyID" id="c" class="form-control Company borderfas" required="required">
                                <option id="defc">Company Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 pull-right barcode" style="margin-top: 70px;">
                        <button type="button" class="btn btn-default pull-right" id="BarcodeButton" style="margin: 0px; color: #fff; border: 1px solid #46c7ba; background-color: #46c7ba;"><i class="fa fa-plus"></i></button>
                        <p>Select</p>
                    </div>
                    <div class="col-md-11 pull-right barcode" style="margin-top: 10px; margin-bottom: 10px;">
                        <label for="exampleInputEmail1">Barcode ID</label><br /><span style="margin-left:10px;">Please Cut and Paste (MAX 200) Barcodes in every new line.</span>
                        @*<input type="number" class="form-control borderfas" id="Barcode">*@
                        @*<select name="AssetNumber" class="form-control borderfas pull-left" id="AN" multiple="multiple" required="required">
                            <option>Barcode No</option>
                        </select>*@
                            <textarea class="form-control borderfas" rows="3" name="AssetNumber" id="AN" placeholder="Enter Barcode ID" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                <div class="col-md-6" style="margin-top:50px;" id="noData">
                                    <form id="moveAssetSingle" method="post">
                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title box-title-main pull-left">Assets to be Disposed</h3>
                                            </div>
                                            <div class="box-body with-border text-center">
                                                <div class="small-box bg-b3">
                                                    <div class="inner">
                                                        <h3 id="total" style="font-size:60px;">0</h3>
                                                        @*<img id="loader" src="~/Content/img/loading.gif" style="width:56px; height:56px; margin:10px;" />*@
                                                        @*<input type="text" id="AssetNum" name="AssetNumber" hidden="hidden">*@
                                                    </div>
                                                    <div class="small-box-footer" style="font-size:17px; color:black; font-weight:700;">
                                                        Total Assets
                                                    </div>
                                                </div>
                                                <label>Date of Disposal</label><br />
                                                <div class="input-group date">
                                                    <div class="input-group-addon borderfas">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right borderfas datepicker" style="width:230px;" name="DisposedOn" required>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <div class="col-md-6">
                                                    <button type="submit" id="moveAsset" class="btn btn-block btn-danger btn-lg select1">Okay for Disposal</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6" style="margin-top:50px;" id="gs">
                                    <div class="box" style="overflow: auto; height: 293px;">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Select Bulk Barcode ID</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table class="table table-bordered" id="display">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10px"><input class="chk" type="checkbox" name="select-all" id="select-all" /></th>
                                                        <th>Barcode ID</th>
                                                        <th>Description</th>
                                                        <th>Current Room</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bulkAsset"></tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                                @*<div class="col-sm-12">
                                        <table id="table2excel" data-tableName="Test Table 1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th data-field="AssetNumber" style="border: 1px solid #999;">Barcode ID</th>
                                                    <th data-field="AssetDescription" style="border: 1px solid #999;">Asset Description</th>
                                                    <th data-field="Group" style="border: 1px solid #999;">Asset Group</th>
                                                    <th data-field="Category" style="border: 1px solid #999;">Asset Category</th>
                                                    <th data-field="Section" style="border: 1px solid #999;">Section Name</th>
                                                    <th data-field="Room_No" style="border: 1px solid #999;">Room No</th>
                                                    <th data-field="Room_Type" style="border: 1px solid #999;">Room Type</th>
                                                    <th data-field="Floor" style="border: 1px solid #999;">Floor</th>
                                                    <th data-field="Image" style="border: 1px solid #999;">Image</th>
                                                </tr>
                                            </thead>
                                            <tbody id="assets"></tbody>
                                        </table>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="OkayModal" class="modal modal text-center">

        <!-- Modal Content (The Image) -->
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:200px;">
            <form id="pModal">
                <div class="box">
                    <div class="box-header">
                        <h5 style="color:red;">Do you want to proceed with disposal</h5>
                    </div>
                    <div class="box-footer">
                        <button type="button" id="Okay" class="btn btn-default">OK</button>
                        <button type="button" id="Cancel" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal modal text-center">

        <!-- Modal Content (The Image) -->
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:200px;">
            <form id="formModal">
                <div class="box">
                    <div class="box-header">
                        <h5>Confirm your password</h5>
                    </div>
                    <div class="box-body">
                        <input type="password" name="Password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="box-footer">
                        <button type="submit" id="confirm" class="btn btn-block btn-primary">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <div id="alertsuccessModal" class="modal modal text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:200px;">
            <div class="callout callout-success lead text-center" style="border-color: #00a65a;">
                <h4>Alert !</h4>
                <p>Asset Disposal Successful !</p>
                <a href="/AssetDisposal/Bulk" style="text-decoration: none;" class="btn btn-block btn-success">OK !</a>
            </div>
        </div>
    </div>

    <div id="alertfailedModal" class="modal modal text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:200px;">
            <div class="callout callout-danger lead text-center" style="border-color: #dd4b39;">
                <h4>Alert !</h4>
                <p>Incorrect Password</p>
                <p>Asset Disposal Failed</p>
                <a href="/AssetDisposal/Bulk" style="text-decoration: none;" class="btn btn-block btn-danger">OK !</a>
            </div>
        </div>
    </div>

    <div id="commonError" class="modal modal text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:200px;">
            <div class="callout callout-danger lead text-center" style="border-color: #dd4b39;">
                <h4>Alert !</h4>
                <p id="errorMessage"></p>
                <a href="/AssetDisposal/Bulk" style="text-decoration: none;" class="btn btn-block btn-danger">OK !</a>
            </div>
        </div>
    </div>

</div>
@*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>


<script>
    $('.datepicker').datepicker({
        autoclose: true
    });
    $('.barcode').hide();
    var title = $('#title').html();
    $('#' + title).css('background-color', '#A2EEE6');
    $('#currentRoom').attr("disabled", "disabled");
    
    var userid = $('#userid').val();
    var role = $('#role').val();
    if (role === "USER" || role === "UADMIN") {
        $(".Company").attr('disabled', true);
        var form = { "UserID": userid };
        var formData = { type: "POST", data: form };
        getCompanyUser(formData, function (response) {
            $('#defc').remove();
            $(".Company").append($("<option></option>").val(response.data.Active + "*" + response.data.CompanyID).html(response.data.CompanyName));
        });
        GetUserLocation(formData, function (response) {
            $.each(response.data, function (key, value) {
                $(".Location").append($("<option></option>").val(value.L1LocCode + "*" + value.Active).html(value.L1LocName));
            });

            if (response.data.length === 1) {
                //$("#AN").select2();
                $('#defl').remove();
                $('.barcode').show();
                //setTimeout(function () {
                //    $('.barcode').show();
                //    var Location = $("#Loc").val();
                //    values = Location.split("*");
                //    LocationName = values[0];
                //    if (LocationName != "") {
                //        var form = { "L1LocCode": LocationName };
                //        var formData = {
                //            type: "POST",
                //            data: form
                //        };
                //        AssetNumberList(formData, function (response) {
                //            $.each(response.data, function (key, value) {
                //                if (value.Status == "ACTIVE") {
                //                    $("#AN").append($("<option></option>").val(value.AssetNumber).html(value.AssetNumber));
                //                }
                //            });
                //        });
                //    }
                //}, 2000);
            } else {
                $('.Location').unbind().change(function () {
                    //$('#AN').select2();
                    $('.barcode').show();
                    var Location = $("#Loc").val();
                    values = Location.split("*");
                    ActiveLocation = values[1];
                    L1Location = values[0];
                    if (L1Location != "") {
                        var form = { "L1LocCode": L1Location };
                        var formData = {
                            type: "POST",
                            data: form
                        };
                        //AssetNumberList(formData, function (response) {
                        //    $.each(response.data, function (key, value) {
                        //        if (value.Status == "ACTIVE") {
                        //            $("#AN").append($("<option></option>").val(value.AssetNumber).html(value.AssetNumber));
                        //        }
                        //    });
                        //});
                    }
                });
            }
        });
        Permissions(formData, function (response) {
            console.log(response.data);
            if (response.data[8]['Permission'] === 'False') {
                $('.select1').attr("disabled", true);
                $(".barcode").hide();
            }
        });
    }
    else {
        getCompany(function (response) {
            $.each(response.data, function (key, value) {
                $(".Company").append($("<option></option>").val(value.CompanyID + "*" + value.Active).html(value.CompanyName));
            });
        });
    }
    $(".Company").change(function () {
        $('.alert').remove();
        $('#moveAssetSingle').show();
        $("#Barcode").show();
        $('.select1').attr("disabled", "disabled");
        $('#currentRoom').val("");
        $('#Loc').find('option').remove().end().append('<option value="">Select Locations</option>');
        $('#AssetSection').find('option').remove().end().append('<option value="">Asset Room No</option>');
        $('#AssetRoomNo').find('option').remove().end().append('<option value="">Asset Room No</option>');
        $('#AssetRoomType').find('option').remove().end().append('<option value="">Asset Room Type</option>');
        $('#AssetFloor').find('option').remove().end().append('<option value="">Asset Floor</option>');
        var id = $(this).val();
        if (id != 0) {
            values = id.split('*');
            Active = values[1];
            CompanyID = values[0];
            if (Active === "true") {
                $("#example2").show();
                $('#ADU').show();
                $('.com').remove();
                $('.result').remove();
                var formData = {
                    type: 'POST',
                    data: { 'CompanyID': CompanyID }
                };

                var formData = {
                    type: 'POST',
                    data: { 'CompanyID': CompanyID }
                };
                getLocations(formData, function (response) {
                    if (response.data.length > 0) {
                        $.each(response.data, function (key, value) {
                            $(".Location").append($("<option></option>").val(value.L1LocCode + "*" + value.Active).html(value.L1LocName));
                        });
                    } else {
                        $(".barcode").hide();
                    }
                });
                $('.Location').unbind().change(function () {
                    $('.alert').remove();
                    $('.odd').remove();
                    //$("#AN").select2();
                    $(".barcode").show();
                    $('#moveAssetSingle').show();
                    $('#currentRoom').val("");
                    $('#AssetSection').find('option').remove().end().append('<option value="">Asset Room No</option>');
                    $('#AssetRoomNo').find('option').remove().end().append('<option value="">Asset Room No</option>');
                    $('#AssetRoomType').find('option').remove().end().append('<option value="">Asset Room Type</option>');
                    $('#AssetFloor').find('option').remove().end().append('<option value="">Asset Floor</option>');
                    var location = $(".Location").val();
                    value1 = location.split('*');
                    Active = value1[1];
                    if (Active === "false") {
                        $(".barcode").hide();
                        $('#moveAssetSingle').hide();
                        divItems =
                            " <div class='alert alert-danger alert-dismissible'>" +
                            "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>" +
                            "<h4><i class='icon fa fa-ban'></i> Alert!</h4>Location Inactive ! Please Contact Administator." +
                            "</div>";

                        $('#noData').append(divItems);
                    } else {
                        var L1Location = $('#Loc').val();
                        values = L1Location.split('*');
                        L1Location = values[0];
                        if (L1Location != "") {
                            var form = {"L1LocCode": L1Location };
                            var formData = {
                                type: "POST",
                                data: form
                            };
                            //AssetNumberList(formData, function (response) {
                            //    $.each(response.data, function (key, value) {
                            //        if (value.Status == "ACTIVE") {
                            //            $("#AN").append($("<option></option>").val(value.AssetNumber).html(value.AssetNumber));
                            //        }
                            //    });
                            //});
                        }
                    }
                });
            } else {
                $('#moveAssetSingle').hide();
                divItems =

                    " <div class='alert alert-danger alert-dismissible'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>" +
                    "<h4><i class='icon fa fa-ban'></i> Alert!</h4>Company Inactive ! Please Contact Administator." +
                    "</div>";

                $('#noData').append(divItems);
            }
        }
    });

    $('#BarcodeButton').unbind().click(function () {
        $(".odd").hide();
        $('#AN').attr('disabled', true);
        //var barcode = $("#Barcode").val();
        var L1Location = $('#Loc').val();
        values = L1Location.split('*');
        L1Location = values[0];
        var foo = $('#AN').val();
        foo = foo.split('\n');
        foo = foo.filter(function (entry) { return entry.trim() != ''; });
        $.each(foo, function (key, value) {
        if (L1Location != "") {
            var form = { "AssetNumber": value, "L1LocCode": L1Location };
            var formData = {
                type: "POST",
                data: form
            };
            var table = $('#display');
            if ($('#' + value).length == 0 && value != "") {

                GetAssetBC(formData, function (response) {
                    if (response.data.length > 0) {
                        $('#gs').show();
                        $('#moveAssetSingle').show();
                        $('.alert').remove();
                        $('.images').remove();
                        var AssetNumber = response.data[0]['AssetNumber'];
                        var AssetDescription = response.data[0]['AssetDescription'];
                        var L1CatName = response.data[0]['Group'];
                        var L2CatName = response.data[0]['Category'];
                        var L3CatCode = response.data[0]['L3CatCode'];
                        var L2LocName = response.data[0]['Section'];
                        var L3LocName = response.data[0]['Room_No'];
                        var L4LocName = response.data[0]['Room_Type'];
                        var L5LocName = response.data[0]['Floor'];
                        $('#currentRoom').val(L3LocName);
                        var divItems1 =

                            "<tr id='" + AssetNumber + "'>" +
                            "<td><input class='chk' name='asset[]' type='checkbox' value='" + AssetNumber + "'></td>" +
                            "<td>" + AssetNumber + "</td>" +
                            "<td>" + AssetDescription + "</td>" +
                            "<td>" + L3LocName + "</td>" +
                            "</tr>"
                        $('#display > tbody:last-child').append(divItems1);

                        $(".chk").unbind().change(function () {
                            var assetchk = $('#bulkAsset').find('.chk:checked').length;
                            $('#total').text(assetchk);
                        });
                        //$('#bulkAsset').append(divItems);

                        //var divItems =
                        //"<tr role='row' class='odd'>" +
                        //"<td class='sorting_1'>" + AssetNumber + "</td>" +
                        //"<td>" + AssetDescription + "</td>" +
                        //"<td>" + L1CatName + "</td>" +
                        //"<td>" + L2CatName + "</td>" +
                        //"<td>" + L2LocName + "</td>" +
                        //"<td>" + L3LocName + "</td>" +
                        //"<td>" + L4LocName + "</td>" +
                        //"<td>" + L5LocName + "</td>" +
                        //"<td class='text-center'>" +
                        //"<img src='baseUrl.appServerContent/img/" + L3CatCode + ".jpg' style = 'width:25px; height:25px;'>" +
                        //"</td>" +
                        //"</tr>"
                        //$('#assets').append(divItems);
                        //var ImageItem = "<img id='" + AssetNumber + "' class='images' src='http://localhost:49889/Content/img/" + L3CatCode + ".jpg' style = 'margin-left:30px;'>"
                        //$('#assetImage').append(ImageItem);
                        var role = $('#role').val();
                        if (role == "USER") {
                            var userId = $('#userid').val();
                            var formData = {
                                type: "post",
                                data: { 'UserID': userId }
                            };
                            Permissions(formData, function (response) {
                                if (response.data[17]['Permission'] == 'True') {
                                    $('.select1').attr("disabled", false);
                                }
                            });
                        }
                        else {
                            $('.select1').attr("disabled", false);
                        }
                    }
                    else {
                        $('.alert').remove();
                        $('#moveAssetSingle').hide();
                        $('#gs').hide();
                        divItems =

                            " <div class='alert alert-danger alert-dismissible'>" +
                            "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>" +
                            "<h4><i class='icon fa fa-ban'></i> Alert!</h4>No Assets Found" +
                            "</div>"

                        $('#noData').append(divItems);
                    }
                });
            } else {
                //Verify blank value
                if (value == "") {
                    $('#errorMessage').text('Barcode Id is empty');
                    $('#commonError').toggle();
                } else {

                }
            }
        } else {
            $('.alert').remove();
            $('#moveAssetSingle').hide();
            divItems =

                " <div class='alert alert-danger alert-dismissible'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>" +
                "<h4><i class='icon fa fa-ban'></i> Alert!</h4>No Location Selected!" +
                "</div>"

            $('#noData').append(divItems);
        }
        });
        var form = { "L1LocCode": L1Location };
        var formData = { type: "POST", data: form };
        getL2Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
            });
            $("#AssetSection").unbind().change(function () {
                $('#AssetRoomNo').find('option').remove().end().append('<option value="">Asset Room No</option>');
                $('#AssetRoomType').find('option').remove().end().append('<option value="">Asset Room Type</option>');
                $('#AssetFloor').find('option').remove().end().append('<option value="">Asset Floor</option>');
                var sid = $(this).val();
                var form = {
                    "L2LocCode": sid,
                    "L1LocCode": L1Location
                };
                var formData = {
                    type: "POST",
                    data: form
                };

                getL3Location(formData, function (response) {
                    $.each(response.data, function (key, value) {
                        $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                    });
                    $("#AssetRoomNo").unbind().change(function () {
                        $('#AssetRoomType').find('option').remove().end().append('<option value="">Asset Room Type</option>');
                        $('#AssetFloor').find('option').remove().end().append('<option value="">Asset Floor</option>');
                        var rid = $(this).val();
                        var form = {
                            "L3LocCode": rid,
                            "L1LocCode": L1Location
                        };
                        var formData = {
                            type: "POST",
                            data: form
                        };
                        getL4Location(formData, function (response) {
                            $.each(response.data, function (key, value) {
                                $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                            });
                            $("#AssetRoomType").unbind().change(function () {
                                $('#AssetFloor').find('option').remove().end().append('<option value="">Asset Floor</option>');
                                var tid = $(this).val();
                                var form = {
                                    "L4LocCode": tid,
                                    "L1LocCode": L1Location
                                };
                                var formData = {
                                    type: "POST",
                                    data: form
                                };
                                getL5Location(formData, function (response) {
                                    $.each(response.data, function (key, value) {
                                        $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                                    });
                                });
                            });
                        });
                    });
                });
            });
        });

    });
   

    $(document).on('click', '.images', function (e) {
        var image = $(this).attr('src');
        $('#myModal').on('show.bs.modal', function () {
            $("#img01").attr("src", image);
        });
    });
    $('#moveAsset').unbind().click(function (event) {
        var userId = $('#userid').val();
        $('#moveAssetSingle').unbind().submit(function (event) {
            event.preventDefault();
            var allVals = [];
            $('#bulkAsset :checked').each(function () {
                allVals.push($(this).val());
            });
            var AssetNo = allVals.toString();
            var newForm = $(this);
            var newformData = {
                type: newForm.attr('method'),
                data: newForm.serialize() + "&AssetNumber=" + AssetNo
            };
            console.log(newformData);
            //$('#myModal').toggle();

            $('#OkayModal').toggle();
            $('#Cancel').unbind().click(function () {
                $('#OkayModal').hide();
            });
            $('#Okay').unbind().click(function () {
                $('#OkayModal').hide();
                $('#myModal').toggle();
            });


            $('#formModal').submit(function (event) {
                $('#myModal').toggle();
                event.preventDefault();
                var L1Location = $('#Loc').val();
                values = L1Location.split('*');
                L1Location = values[0];
                var form = $(this);
                var formData = {
                    type: 'post',
                    data: form.serialize() + '&' + newformData.data + '&UserID=' + userId +'&L1LocCode='+L1Location
                };
                AssetDispose(formData, function (response) {
                    console.log(response);
                    if (response.message == "Incorrect Password") {
                        $('#alertfailedModal').toggle();
                    } else {
                        $('#alertsuccessModal').toggle();
                    }
                });
            });
        });
    });
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });

        }
    });

</script>
