
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left: 20px; padding-right: 20px;">
    
    <h3 class="box-title" id="title" hidden="hidden">InventoryManagement</h3>
    <input type="text" id="userid" value="@Session["UserID"]" hidden="hidden" />
    <input type="text" id="role" value="@Session["Role"]" hidden="hidden" />
    <div class="box" id="lb">
        <div class="box-header with-border">
            <div class="col-md-12">
                <h3 class="box-title box-title-main">Select Location</h3>
            </div>
            <div class="col-md-3" style="margin-top: 10px;">
                <label for="exampleInputEmail1">Location</label>
                <select class="form-control borderfas" id="Location" style="background-color: #ffffff;">
                    <option id="def">Select Location</option>
                </select>
            </div>
            <div class="col-md-3" style="margin-top: 10px;">
                <label for="exampleInputEmail1">Status</label>
                <select class="form-control borderfas" id="Status" style="background-color: #ffffff;">
                    <option>ALL</option>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="DISPOSED">DISPOSED</option>
                </select>
            </div>
            <div class="col-md-1 pull-right" style="margin-top: 35px;">
                <button type="button" class="btn btn-default" id="BarcodeButton" style="margin: 0px; color: #fff; border: 1px solid #46c7ba; background-color: #46c7ba;"><i class="fa fa-search"></i></button>
            </div>

            <div class="col-md-3 pull-right" style="margin-top: 10px;">
                <label for="exampleInputEmail1">Barcode ID</label>
                <input type="text" class="form-control borderfas" id="AN">
                @*<select name="AssetNumber" class="form-control borderfas pull-left" id="AN" required="required">
                    <option>Barcode No</option>
                </select>*@
            </div>
        </div>
        <div class="box-body with-border">
            <div class="col-md-12 text-center" style="border-bottom: 1px solid #46c7ba;">
                <div class="col-md-3">
                    <h3 class="box-title box-title-main pull-left">Search Asset</h3>
                </div>
                <div class="col-md-5" style="margin-top: 10px;">
                    <label style="font-weight: 600;">Asset Description</label>
                    @*<input type="text" class="form-control borderfas" id="Description" placeholder="Enter your asset description">*@
                    
                    <input type="hidden" id="DescriptionValue" name="DescriptionValue" value="" />
                    <select class="form-control filter borderfas" style="background-color: #ffffff;" name="L3CatCode" id="Description" required>
                        <option value="">Asset Description</option>
                    </select>
                    <label style="font-weight: 600; margin-top:40px;">Refine Your Search</label>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3" style="float: right; margin-top: 13px;">
                    <!-- small box -->
                    @*<div class="small-box bg-b3">
                            <div class="inner text-center">
                                <div>
                                    <h3 id="total">0</h3>
                                    <img id="loader" src="~/Content/img/loading.gif" style="width:30px; height:30px; margin:10px;" />
                                    <p>Total Assets</p>
                                </div>
                            </div>
                            <div class="icon">
                            </div>
                        </div>*@
                    <div class="small-box bg-b3">
                        <div class="inner">
                            <h3 id="total" style="font-size:60px;">0</h3>
                            <img id="loader" src="~/Content/img/loading.gif" style="width:56px; height:56px; margin:10px;" />
                        </div>
                        <div class="small-box-footer" style="font-size:17px; color:black; font-weight:700;">
                            Total Assets
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="border-bottom: 1px solid #46c7ba;">
                        <div class="col-md-10" style="margin-bottom:20px">
                            <div class="col-md-2 text-center" style="margin-top: 10px;">
                                <label>Asset Group</label>
                                <select class="form-control filter borderfas" style="background-color: #ffffff;" id="AssetGroup">
                                    <option value="null">Asset Group</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-center" style="margin-top: 10px;">
                                <label>Asset Category</label>
                                <select class="form-control filter borderfas" style="background-color: #ffffff;" id="AssetCategory">
                                    <option value="null">Asset Category</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-center" style="margin-top: 10px;">
                                <label>Section Name</label>
                                <select class="form-control filter borderfas" style="background-color: #ffffff;" id="AssetSection">
                                    <option value="null">Asset Section</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-center" style="margin-top: 10px;">
                                <label>Room No</label>
                                <select class="form-control filter borderfas" style="background-color: #ffffff;" id="AssetRoomNo">
                                    <option value="null">Asset Room No</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-center" style="margin-top: 10px;">
                                <label>Room Type</label>
                                <select class="form-control filter borderfas" style="background-color: #ffffff;" id="AssetRoomType">
                                    <option value="null">Asset Room Type</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-center" style="margin-top: 10px;">
                                <label>Floor</label>
                                <select class="form-control filter borderfas" style="background-color: #ffffff;" id="AssetFloor">
                                    <option value="null">Asset Floor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding: 0px; top: 20px;">
                            <button type="button" class="btn btn-app" style="margin: 0px; color: #000000; border: 1px solid rgb(177, 231, 224); background-color: rgb(177, 231, 224);" id="DescriptionButton"><i class="fa fa-search"></i>Search</button>
                        </div>
                        <div class="col-md-1" style="padding: 0px; top: 20px;">
                            <button type="button" class="btn btn-app" style="margin: 0px; color: #ffffff; border: 1px solid #dd4b39; background-color: #dd4b39;" id="clear"><i class="fa fa-ban"></i>Clear</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="exp" style="display: none;"></div>
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="table2excel" data-tableName="Test Table 1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th></th>
                                                <th data-field="Status" style="border: 1px solid #999;">Status</th>
                                                <th data-field="AssetNumber" style="border: 1px solid #999;">Barcode ID</th>
                                                <th data-field="AssetDescription" style="border: 1px solid #999;">Asset Description</th>
                                                <th data-field="Group" style="border: 1px solid #999;">Asset Group</th>
                                                <th data-field="Category" style="border: 1px solid #999;">Asset Category</th>
                                                <th data-field="Section" style="border: 1px solid #999;">Section Name</th>
                                                <th data-field="Room_No" style="border: 1px solid #999;">Room No</th>
                                                <th data-field="Room_Type" style="border: 1px solid #999;">Room Type</th>
                                                <th data-field="Floor" style="border: 1px solid #999;">Floor</th>
                                                <th data-field="Image" style="border: 1px solid #999;">Date of Purchas</th>
                                                <th data-field="Image" style="border: 1px solid #999;">Image</th>
                                            </tr>
                                        </thead>
                                        <tbody id="assets"></tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="alertfailedModal" class="modal modal text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding:200px;">
            <div class="callout callout-danger lead text-center" style="border-color: #dd4b39;">
                <h4>Alert !</h4>
                <p>Incorrect Barcode</p>
                <a href="/AssetSearch/Index" class="btn btn-danger">OK</a>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal modal text-center">

        <img class="modal-content modal-content" id="img01" style="min-height:0%; top:100px; border: 10px solid #a2a4a3; border-radius: 30px; width:500px;">

        <div id="caption"></div>
    </div>

    <div id="DataModal" class="modal modal">
        <div class="box" style="top:100px; width:90%; margin-left: 70px;" id="#lb2">
            <div class="box-header with-border text-center">
                <a href="#" id="print" class="btn btn-primary pull-left" style="background-color:orange; border-color: #ffa500;"><i class="fa fa-print"></i>  Print</a>
                <h3 class="box-title">Asset Detail</h3>
                <button type="button" class="close pull-right" data-dismiss="modal" style="color: #00b3a1;">×</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <table class="table">
                        <thead><tr><th style="color:orange; border-bottom: 2px solid #ffa51f; width:45%;">Product Detail</th></tr></thead>
                        <tbody>
                            <tr><th>Barcode ID</th> <td id="bc">10008777</td></tr>
                            <tr><th>Description</th><td id="ds">LIFTER MINI</td></tr>
                            <tr><th>Group</th><td id="gr">EQUIPMENT</td></tr>
                            <tr><th>Category</th><td id="ct">LIFTER</td></tr>
                            @*<tr><th>Section</th><td id="se">OFFICE</td></tr>
                                <tr><th>Room No</th><td id="rn">ENGR OFFICE</td></tr>
                                <tr><th>Room Type</th><td id="rt"></td></tr>
                                <tr><th>Floor</th><td id="fl">B</td></tr>*@
                            <tr><th>Brand</th><td id="se"></td></tr>
                            <tr><th>Serial Number</th><td id="rn"></td></tr>
                            <tr><th>Size</th><td id="rt"></td></tr>
                            <tr><th>Color</th><td id="fl">B</td></tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color:orange; border-bottom: 2px solid #ffa51f;">Purchase Details</th>

                                <td>
                                    <form style="display: none" action="@Url.RouteUrl("EditPurchaseDetail")" method="POST" id="editpurchasedetailform">
                                        <input type="hidden" id="editpurchasedetailformL1code" name="L1LocCode" />
                                        <input type="hidden" id="editpurchasedetailformPID" name="purchaseID" />
                                        <input type="hidden" id="editpurchasedetailformAN" name="assetNumber" />
                                    </form>
                                    <button id="EditButton" type="submit" class="btn btn-default pull-right" data-purchaseid="" onclick="EditPurchaseDetail(this)"><i class="fa fa-edit"></i> Edit</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><th>Supplier Name</th> <td id="sn">10008777</td></tr>
                            <tr><th>Invoice Number</th><td id="in">69-69-896</td></tr>
                            <tr><th>Date of Purchase</th><td id="dop">23-02-2017</td></tr>
                            <tr><th>Currency</th><td id="cu">US Dollar</td></tr>
                            <tr><th>Purchase Price</th><td id="up">2500</td></tr>
                            <tr><th>PO Number</th><td id="pn">2569698</td></tr>
                            <tr><th>Warranty Expiry Date</th><td id="dpo">24-02-2017</td></tr>
                            <tr><th>Supplier Email</th><td id="sel">JKtrader@live.com</td></tr>
                            <tr><th>Net book Value</th><td id="sel">null</td></tr>
                            <tr><th>Value Date</th><td id="sel">null</td></tr>
                            <tr><th>Invoice Image</th><td id="invoiceImg"><a class="btn disabled" href="" target="_blank"></a></td></tr>
                            <tr><th>Purchase Order Image</th><td id="purOrdImg"><a class="btn disabled" href="" target="_blank"></a></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                    <img src="~/Content/img/notavailable.png" id="imgid" style="width:70%" />

                    <div class="form" id="imageUpload">
                        <label for="file">Upload Image:</label>
                        <input type="file" name="file" id="file" style="width: 100%;" />
                        <button type="button" name="imagedata" id="fileup">Upload</button>
                        <img id="loader" src="/Content/img/loading.gif" style="width: 20px; height: 20px; margin: 10px; display: none;">
                    </div>
                    <h1 style="color:green;" id="h3"></h1>
                    <h4 id="dds"></h4>
                </div>
            </div>
        </div>
    </div>


</div>
@*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>


<script>
    $('#Location').attr('disable', true);
    $('#loader').hide();
    var url = decodeURI(window.location.search);
    console.log(url);
    if (url != "") {
        var urL = url.split('?');
        //console.log(urL);
        L1LocCode = urL[1];
        Group = urL[2];
        Section = urL[3];
        setTimeout(function () {
            $('#Location').val(L1LocCode);
            $('#AssetGroup').append($('<option>', { value: 1, text: '' + Group + '' }));
            $('#AssetSection').append($('<option>', { value: 1, text: '' + Section + '' }));
            $('#AssetGroup').val("1");
            $('#AssetSection').val("1");
        }, 2000);

        var form = { "L1LocCode": L1LocCode, "L1CatName": Group, "L2LocName": Section };
        var formData = {
            type: "POST",
            data: form
        };
        $('#Location').val("DEMO1");
        $('#total').hide();
        $('#loader').show();
        getAsset(formData, function (response) {
            var total = response.data.length;
            $('#total').text(total);
            $('#loader').hide();
            $('#total').show();
            Table.clear().draw();
            Table.rows.add(response.data).draw();
        });

    }
    var title = $('#title').html();
    $('#' + title).css('background-color', '#A2EEE6');
    //$('#loader').hide();
    $('#print').unbind().click(function () {
        //$("#lb").addClass("displayNone");
        $("#lb").css("display", "none");
        $(".content").css("height", "1000px");

        window.print();
    });
    /* Formatting function for row details - modify as you need */
    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
                '<td>Supplier Name</td>' +
                '<td> ALTAJ SELLERS</td>' +
            '</tr>' +
            '<tr>' +
                '<td>Unit Price</td>' +
                '<td>24 $</td>' +
            '</tr>' +
            '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
            '</tr>' +
        '</table>';
    }

    Table = $("#table2excel").DataTable({
        data: [],
        columns: [
            {
                className: 'details-control',
                orderable: false,
                data: null,
                defaultContent: ''
            },
             { data: 'Status' },
             { data: 'AssetNumber' },
             { data: 'AssetDescription' },
             { data: 'Group' },
             { data: 'Category' },
             { data: 'Section' },
             { data: 'Room_No' },
             { data: 'Room_Type' },
             { data: 'Floor' },
             { data: 'DateOfPurchase' },
             { data: 'Image', className: 'not-export-col' }
        ],
        dom: 'Bfrtip',
        "pageLength": 25,
        buttons: [{
            extend: 'excelHtml5',
            text: 'Export to Excel',
            exportOptions: {
                columns: ':visible:not(.not-export-col)'
            },
            //customize: function (xlsx) {
            //    var sheet = xlsx.xl.worksheets['sheet16.xml'];
            //    // jQuery selector to add a border
            //    $('row c[r*="10"]', sheet).attr('s', '25');
            //}
            customize: function (xlsx) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                var downrows = 3;
                var clRow = $('row', sheet);
                //update Row
                clRow.each(function () {
                    var attr = $(this).attr('r');
                    var ind = parseInt(attr);
                    ind = ind + downrows;
                    $(this).attr("r", ind);
                });

                // Update  row > c
                $('row c ', sheet).each(function () {
                    var attr = $(this).attr('r');
                    var pre = attr.substring(0, 1);
                    var ind = parseInt(attr.substring(1, attr.length));
                    ind = ind + downrows;
                    $(this).attr("r", pre + ind);
                });

                function Addrow(index, data) {
                    msg = '<row r="' + index + '">'
                    for (i = 0; i < data.length; i++) {
                        var key = data[i].k;
                        var value = data[i].v;
                        msg += '<c t="inlineStr" r="' + key + index + '" s="42">';
                        msg += '<is>';
                        msg += '<t>' + value + '</t>';
                        msg += '</is>';
                        msg += '</c>';
                    }
                    msg += '</row>';
                    return msg;
                }
                var locat = $("#Location option:selected").text();
                //insert
                var r1 = Addrow(1, [{ k: 'A', v: 'Matrix Fixed Asset Solution' }]);
                var r2 = Addrow(2, [{ k: 'A', v: 'Report Name' }, { k: 'B', v: 'Asset Search Report' }]);
                var r3 = Addrow(3, [{ k: 'A', v: 'Location Name' }, { k: 'B', v: locat }]);
                //var r1 = Addrow(1, [{ k: 'A', v: 'Location Name' }, { k: 'B', v: locat }, { k: 'C', v: 'Generated by Matrix FAS' }]);  //Addrow(1, [{ k: 'A', v: 'Matrix Fixed Asset Solution' }]);
                //var r2 = Addrow(2, [{ k: 'A', v: 'Report Name' }, { k: 'B', v: 'Asset Search Report' }, { k: 'C', v: D }]);


                //sheet.childNodes[0].childNodes[1].innerHTML = r1 + r2 + r3 + sheet.childNodes[0].childNodes[1].innerHTML;
                sheet.childNodes[0].childNodes[1].innerHTML = r1 + r2 + r3 + sheet.childNodes[0].childNodes[1].innerHTML;
            }
        }],
        rowCallback: function (row, data) {
            if (data.Status == "DISPOSED") {
                $('td', row).css('background-color', 'rgba(155, 146, 185, 0.37)');
            }
            var imgLink = data['Image'];
            var assetNumber = data['AssetNumber'];
            //var roomNumber = data['Room_No'];
            
            var imgTag = '<img src="' + baseUrl.appServer + 'Content/img/' + imgLink + '.jpg" id="' + assetNumber + '" data-toggle="modal" data-target="#myModal" class="images" style = "width:25px; height:25px;"/>';
            $('td:eq(11)', row).html(imgTag);
            return row;
        }

    });

    //ZAIN - 27/6/2018 *** Image Upload
    $('#fileup').unbind().click(function (e) {
        $('#loader').show();
        //e.preventDefault();
        var fileUpload = $("#file").get(0);
        if (fileUpload.files.length != 0) {
            if (confirm("Are you sure you wish to proceed?\n\nImages for all the existing same asset description will be changed.")) {

                var files = fileUpload.files;
                var fileData = new FormData();
                debugger;
                // Looping over all files and add it to FormData object  
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                var url = decodeURI(window.location.search);
                urL = url.split('?');
                Group = urL[2];

                //alert($("#DescriptionValue").html());

                $.ajax({
                    url: '/AssetAddition/FileUpload?filename=' + $("#DescriptionValue").val(),
                    type: "POST",
                    contentType: false, // Not to set any content header  
                    processData: false, // Not to process data  
                    data: fileData,
                    success: function (result) {
                        $('#loader').hide();
                        alert(result);

                        $("#DescriptionValue").val('');
                        location.reload();
                    },
                    error: function (err) {
                        $('#loader').hide();
                        alert(err.statusText);
                    }
                });
            }
            else {
                alert('failed');
            }
        }
        else {
            alert("Select image to upload.");
        }
    });
    
    // Add event listener for opening and closing details
    $('#table2excel tbody').on('click', 'td.details-control', function () {
        $('#DataModal').modal('toggle');
        var tr = $(this).closest('tr');
        var row = Table.row(tr);
        var data = row.data();

        var DV = data.Image;
        //alert(data.Image);
        //$('#DescriptionValue').html(DV);
        $("#DescriptionValue").val(DV);
        
        //alert($("#DescriptionValue").val());

        console.log(data);
        $('#bc').html(data.AssetNumber);
        $('#ds').html(data.AssetDescription);
        $('#gr').html(data.Group);
        $('#ct').html(data.Category);
        $('#se').html(data.Brand);
        $('#rn').html(data.SerialNumber);
        $('#rt').html(data.Size);
        $('#fl').html(data.Color);
        $('#h3').text(data.Status);

        $('#imgid').attr('src', '' + baseUrl.appServer + 'Content/img/' + data.Image + '.jpg');
        if (data.Status == "ACTIVE") {
            $('#h3').css('color', 'green');
            $('#dds').text(data.DateOfVerification);
            console.log(data);
        } else {
            $('#h3').css('color', 'red');
            $('#dds').text(data.DisposedOn);
        }
        var Location1 = $('#Location').val();
        var UID = Location1 + data.AssetNumber;
        var form = { "UniqueID": UID };
        var formData = { type: "POST", data: form };
        PurchaseDetail(formData, function (response) {
            console.log(response);
            $('#sn').html(response.data.SupplierName);
            $('#in').html(response.data.InvoiceNumber);
            $('#dop').html(response.data.DateofPurchase);
            $('#cu').html(response.data.iso);
            $('#up').html(response.data.UnitPrice);
            $('#pn').html(response.data.PONumber);
            $('#dpo').html(response.data.DateOfPO);
            $('#sel').html(response.data.SupplierEmail);
            $('#editpurchasedetailformL1code').val(Location1);
            
            if (response.data.PurchaseID != null) {
                $('#EditButton').removeClass('disabled');
                $('#editpurchasedetailformPID').val(response.data.PurchaseID);
            }
            else {
                $('#EditButton').addClass('disabled');
                $('#editpurchasedetailformPID').val('');
            }
            var an = $('#bc').text();
            $('#editpurchasedetailformAN').val(an);
            if (response.data.InvoiceImage != null) {
                if (response.data.InvoiceImage != "") {
                    $('#invoiceImg').children().attr('href', response.data.InvoiceImage);
                    $('#invoiceImg').children().removeClass("btn disabled");
                    $('#invoiceImg').children().text('Click to view');
                }
            }
            if (response.data.PurchaseOrderImage != null) {
                if (response.data.PurchaseOrderImage != "") {
                    $('#purOrdImg').children().attr('href', response.data.PurchaseOrderImage);
                    $('#purOrdImg').children().removeClass("btn disabled");
                    $('#purOrdImg').children().text('Click to view');
                }
            }
        });
    });

    $('#BarcodeButton').unbind().click(function () {
        $(".odd").remove();
        $('.even').remove();
        var Location1 = $('#Location').val();
        if (Location1 != "Select Location") {
            var barcode = $("#AN").val();
            console.log(barcode);
            var form = { "AssetNumber": barcode, "L1LocCode": Location1 };
            var formData = {
                type: "POST",
                data: form
            };
            GetAssetBC(formData, function (response) {
                console.log(response.data.length);
                if (response.data.length != 0) {
                    $('#total').text("1");
                    console.log(response.data);
                    Table.clear().draw();
                    Table.rows.add(response.data).draw();
                } else {
                    $('#alertfailedModal').toggle();
                }
            });
        }
    });


    var role = $('#role').val();
    if (role == "USER" || role == "UADMIN") {
        var userId = $('#userid').val();
        var formData = {
            type: "post",
            data: { 'UserID': userId }
        };

        Permissions(formData, function (response) {
            if (response.data[4]['Permission'] == 'False') {
                //$('#excel').prop("disabled", true);
            }
        });
        GetUserLocation(formData, function (response) {
            if (response.data.length == 1) {
                $('#def').remove();
            }
            $.each(response.data, function (key, value) {
                $("#Location").append($("<option></option>").val(value.L1LocCode).html(value.L1LocName));
            });
        });
        setTimeout(function () {
            var Location1 = $('#Location').val();
            var formData = {
                type: "POST",
                data: { 'L1LocCode': Location1 }
            };

            //$("#AN").select2();
            //AssetNumberList(formData, function (response) {
            //    $.each(response.data, function (key, value) {
            //        if (value.Status == "ACTIVE") {
            //            $("#AN").append($("<option></option>").val(value.AssetNumber).html(value.AssetNumber));
            //        }
            //    });
            //});

            getL3Category(formData, function (response) {
                $("#Description").select2();
                $.each(response.data, function (key, value) {
                    $("#Description").append($("<option></option>").val(value.L3CatCode).html(value.L3CatName));
                });
                $("#description").select2();
            });

            getL1Category(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetGroup").append($("<option></option>").val(value.L1CatCode).html(value.L1CatName));
                });
                $("#AssetGroup").unbind().change(function () {
                    var gid = $(this).val();
                    if (gid != "null") {
                        $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
                        $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                        $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                        $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');

                        var form = { "L1CatCode": gid, "L1LocCode": Location1 };
                        var formData = { type: "POST", data: form };
                        getL2Category(formData, function (response) {
                            $.each(response.data, function (key, value) {
                                $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
                            });
                            $("#AssetCategory").unbind().change(function () {
                                $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                                $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                                $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                var cid = $(this).val();
                                console.log(cid);
                                var form = {
                                    "L1CatCode": gid,
                                    "L2CatCode": cid,
                                    "L1LocCode": Location1
                                };
                                var formData = {
                                    type: "POST",
                                    data: form
                                };
                                getL2Location(formData, function (response) {
                                    $.each(response.data, function (key, value) {
                                        $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
                                    });
                                    $("#AssetSection").unbind().change(function () {
                                        $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                                        $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                        var sid = $(this).val();
                                        console.log(sid);
                                        var form = {
                                            "L1CatCode": gid,
                                            "L2CatCode": cid,
                                            "L2LocCode": sid,
                                            "L1LocCode": Location1
                                        };
                                        var formData = {
                                            type: "POST",
                                            data: form
                                        };
                                        getL3Location(formData, function (response) {
                                            $.each(response.data, function (key, value) {
                                                $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                                            });
                                            $("#AssetRoomNo").unbind().change(function () {
                                                $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                                $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                                var rid = $(this).val();
                                                console.log(rid);
                                                var form = {
                                                    "L1CatCode": gid,
                                                    "L2CatCode": cid,
                                                    "L2LocCode": sid,
                                                    "L3LocCode": rid,
                                                    "L1LocCode": Location1
                                                };
                                                var formData = {
                                                    type: "POST",
                                                    data: form
                                                };
                                                getL4Location(formData, function (response) {
                                                    $.each(response.data, function (key, value) {
                                                        $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                                                    });
                                                    $("#AssetRoomType").unbind().change(function () {
                                                        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                                        var tid = $(this).val();
                                                        console.log(tid);
                                                        var form = {
                                                            "L1CatCode": gid,
                                                            "L2CatCode": cid,
                                                            "L2LocCode": sid,
                                                            "L3LocCode": rid,
                                                            "L4LocCode": tid,
                                                            "L1LocCode": Location1
                                                        };
                                                        var formData = {
                                                            type: "POST",
                                                            data: form
                                                        };
                                                        console.log(formData);
                                                        getL5Location(formData, function (response) {
                                                            $.each(response.data, function (key, value) {
                                                                $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                                                            });
                                                        });
                                                    });
                                                });
                                            });
                                        });
                                    });
                                });
                            });
                        });
                    }

                    else {
                        $('#AssetCategory').find('option').remove().end().append('<option>Asset Category</option>');
                        $('#AssetSection').find('option').remove().end().append('<option>Asset Section</option>');
                        $('#AssetRoomNo').find('option').remove().end().append('<option>Asset Room No</option>');
                        $('#AssetRoomType').find('option').remove().end().append('<option>Asset Room Type</option>');
                        $('#AssetFloor').find('option').remove().end().append('<option>Asset Floor</option>');
                        location.reload();
                    }
                });
            });
            getL2Category(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
                });
            });
            getL2Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
                });
            });
            getL3Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                });
            });
            getL4Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                });
            });
            getL5Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                });
            });
        }, 2000);

    } else {
        getLocationAdmin(function (response) {
            $.each(response.data, function (key, value) {
                $("#Location").append($("<option></option>").val(value.L1LocCode).html(value.L1LocName));
            });
        });
        $('#Location').unbind().change(function () {
            $('#AssetGroup').find('option').remove().end().append('<option value="null">Asset Group</option>');
            $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
            $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
            $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
            $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
            $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
            var Location1 = $("#Location").find(':selected').val();
            var formData = {
                type: "POST",
                data: { 'L1LocCode': Location1 }
            };

            //$("#AN").select2();
            //AssetNumberList(formData, function (response) {
            //    $.each(response.data, function (key, value) {
            //        if (value.Status == "ACTIVE") {
            //            $("#AN").append($("<option></option>").val(value.AssetNumber).html(value.AssetNumber));
            //        }
            //    });
            //});

            getL1Category(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetGroup").append($("<option></option>").val(value.L1CatCode).html(value.L1CatName));
                });
                $("#AssetGroup").change(function () {
                    var gid = $(this).val();
                    if (gid != "null") {
                        $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
                        $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                        $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                        $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');

                        var form = { "L1CatCode": gid, "L1LocCode": Location1 };
                        var formData = { type: "POST", data: form };
                        getL2Category(formData, function (response) {
                            $.each(response.data, function (key, value) {
                                $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
                            });
                            $("#AssetCategory").unbind().change(function () {
                                $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                                $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                                $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                var cid = $(this).val();
                                console.log(cid);
                                var form = {
                                    "L1CatCode": gid,
                                    "L2CatCode": cid,
                                    "L1LocCode": Location1
                                };
                                var formData = {
                                    type: "POST",
                                    data: form
                                };
                                getL2Location(formData, function (response) {
                                    $.each(response.data, function (key, value) {
                                        $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
                                    });
                                    $("#AssetSection").unbind().change(function () {
                                        $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                                        $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                        var sid = $(this).val();
                                        console.log(sid);
                                        var form = {
                                            "L1CatCode": gid,
                                            "L2CatCode": cid,
                                            "L2LocCode": sid,
                                            "L1LocCode": Location1
                                        };
                                        var formData = {
                                            type: "POST",
                                            data: form
                                        };
                                        getL3Location(formData, function (response) {
                                            $.each(response.data, function (key, value) {
                                                $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                                            });
                                            $("#AssetRoomNo").unbind().change(function () {
                                                $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                                $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                                var rid = $(this).val();
                                                console.log(rid);
                                                var form = {
                                                    "L1CatCode": gid,
                                                    "L2CatCode": cid,
                                                    "L2LocCode": sid,
                                                    "L3LocCode": rid,
                                                    "L1LocCode": Location1
                                                };
                                                var formData = {
                                                    type: "POST",
                                                    data: form
                                                };
                                                getL4Location(formData, function (response) {
                                                    $.each(response.data, function (key, value) {
                                                        $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                                                    });
                                                    $("#AssetRoomType").unbind().change(function () {
                                                        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                                        var tid = $(this).val();
                                                        console.log(tid);
                                                        var form = {
                                                            "L1CatCode": gid,
                                                            "L2CatCode": cid,
                                                            "L2LocCode": sid,
                                                            "L3LocCode": rid,
                                                            "L4LocCode": tid,
                                                            "L1LocCode": Location1
                                                        };
                                                        var formData = {
                                                            type: "POST",
                                                            data: form
                                                        };
                                                        console.log(formData);
                                                        getL5Location(formData, function (response) {
                                                            $.each(response.data, function (key, value) {
                                                                $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                                                            });
                                                        });
                                                    });
                                                });
                                            });
                                        });
                                    });
                                });
                            });
                        });
                    }

                    else {
                        $('#AssetCategory').find('option').remove().end().append('<option>Asset Category</option>');
                        $('#AssetSection').find('option').remove().end().append('<option>Asset Section</option>');
                        $('#AssetRoomNo').find('option').remove().end().append('<option>Asset Room No</option>');
                        $('#AssetRoomType').find('option').remove().end().append('<option>Asset Room Type</option>');
                        $('#AssetFloor').find('option').remove().end().append('<option>Asset Floor</option>');
                        location.reload();
                    }
                });
            });

            var formData = {
                type: "POST",
                data: { 'L1LocCode': Location1 }
            };

            getL2Category(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
                });
            });
            getL2Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
                });
            });
            getL3Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                });
            });
            getL4Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                });
            });
            getL5Location(formData, function (response) {
                $.each(response.data, function (key, value) {
                    $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                });
            });
        });
    }


    $('#Location').unbind().change(function () {
        Table.clear().draw();
        var total = 0;
        $('#total').text(total);
        $('#AssetGroup').find('option').remove().end().append('<option value="null">Asset Group</option>');
        $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
        $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
        $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
        $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
        var Location1 = $("#Location").find(':selected').val();
        var formData = {
            type: "POST",
            data: { 'L1LocCode': Location1 }
        };

        //$("#AN").select2();
        //AssetNumberList(formData, function (response) {
        //    $.each(response.data, function (key, value) {
        //        if (value.Status == "ACTIVE") {
        //            $("#AN").append($("<option></option>").val(value.AssetNumber).html(value.AssetNumber));
        //        }
        //    });
        //});

        getL3Category(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#Description").append($("<option></option>").val(value.L3CatCode).html(value.L3CatName));
            });
            $("#Description").select2();
        });

        getL1Category(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetGroup").append($("<option></option>").val(value.L1CatCode).html(value.L1CatName));
            });
            $("#AssetGroup").unbind().change(function () {
                var gid = $(this).val();
                if (gid != "null") {
                    $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
                    $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                    $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                    $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                    $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');

                    var form = { "L1CatCode": gid, "L1LocCode": Location1 };
                    var formData = { type: "POST", data: form };
                    getL2Category(formData, function (response) {
                        $.each(response.data, function (key, value) {
                            $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
                        });
                        $("#AssetCategory").unbind().change(function () {
                            $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                            $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                            $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                            $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                            var cid = $(this).val();
                            console.log(cid);
                            var form = {
                                "L1CatCode": gid,
                                "L2CatCode": cid,
                                "L1LocCode": Location1
                            };
                            var formData = {
                                type: "POST",
                                data: form
                            };
                            getL2Location(formData, function (response) {
                                $.each(response.data, function (key, value) {
                                    $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
                                });
                                $("#AssetSection").unbind().change(function () {
                                    $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                                    $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                    $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                    var sid = $(this).val();
                                    console.log(sid);
                                    var form = {
                                        "L1CatCode": gid,
                                        "L2CatCode": cid,
                                        "L2LocCode": sid,
                                        "L1LocCode": Location1
                                    };
                                    var formData = {
                                        type: "POST",
                                        data: form
                                    };
                                    getL3Location(formData, function (response) {
                                        $.each(response.data, function (key, value) {
                                            $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                                        });
                                        $("#AssetRoomNo").unbind().change(function () {
                                            $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                            $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                            var rid = $(this).val();
                                            console.log(rid);
                                            var form = {
                                                "L1CatCode": gid,
                                                "L2CatCode": cid,
                                                "L2LocCode": sid,
                                                "L3LocCode": rid,
                                                "L1LocCode": Location1
                                            };
                                            var formData = {
                                                type: "POST",
                                                data: form
                                            };
                                            getL4Location(formData, function (response) {
                                                $.each(response.data, function (key, value) {
                                                    $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                                                });
                                                $("#AssetRoomType").unbind().change(function () {
                                                    $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                                    var tid = $(this).val();
                                                    console.log(tid);
                                                    var form = {
                                                        "L1CatCode": gid,
                                                        "L2CatCode": cid,
                                                        "L2LocCode": sid,
                                                        "L3LocCode": rid,
                                                        "L4LocCode": tid,
                                                        "L1LocCode": Location1
                                                    };
                                                    var formData = {
                                                        type: "POST",
                                                        data: form
                                                    };
                                                    console.log(formData);
                                                    getL5Location(formData, function (response) {
                                                        $.each(response.data, function (key, value) {
                                                            $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                                                        });
                                                    });
                                                });
                                            });
                                        });
                                    });
                                });
                            });
                        });
                    });
                }

                else {
                    $('#AssetCategory').find('option').remove().end().append('<option>Asset Category</option>');
                    $('#AssetSection').find('option').remove().end().append('<option>Asset Section</option>');
                    $('#AssetRoomNo').find('option').remove().end().append('<option>Asset Room No</option>');
                    $('#AssetRoomType').find('option').remove().end().append('<option>Asset Room Type</option>');
                    $('#AssetFloor').find('option').remove().end().append('<option>Asset Floor</option>');
                    location.reload();
                }
            });
        });

        var formData = {
            type: "POST",
            data: { 'L1LocCode': Location1 }
        };

        getL2Category(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
            });
        });
        getL2Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
            });
        });
        getL3Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
            });
        });
        getL4Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
            });
        });
        getL5Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
            });
        });
    });
    $('#clear').unbind().click(function () {
        $('#AssetGroup').find('option').remove().end().append('<option value="null">Asset Group</option>');
        $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
        $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
        $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
        $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
        $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');

        var Location1 = $("#Location").find(':selected').val();
        var formData = {
            type: "POST",
            data: { 'L1LocCode': Location1 }
        };
        getL1Category(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetGroup").append($("<option></option>").val(value.L1CatCode).html(value.L1CatName));
            });
            $("#AssetGroup").change(function () {
                var gid = $(this).val();
                if (gid != "null") {
                    $('#AssetCategory').find('option').remove().end().append('<option value="null">Asset Category</option>');
                    $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                    $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                    $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                    $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');

                    var form = { "L1CatCode": gid, "L1LocCode": Location1 };
                    var formData = { type: "POST", data: form };
                    getL2Category(formData, function (response) {
                        $.each(response.data, function (key, value) {
                            $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
                        });
                        $("#AssetCategory").change(function () {
                            $('#AssetSection').find('option').remove().end().append('<option value="null">Asset Section</option>');
                            $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                            $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                            $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                            var cid = $(this).val();
                            console.log(cid);
                            var form = {
                                "L1CatCode": gid,
                                "L2CatCode": cid,
                                "L1LocCode": Location1
                            };
                            var formData = {
                                type: "POST",
                                data: form
                            };
                            getL2Location(formData, function (response) {
                                $.each(response.data, function (key, value) {
                                    $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
                                });
                                $("#AssetSection").change(function () {
                                    $('#AssetRoomNo').find('option').remove().end().append('<option value="null">Asset Room No</option>');
                                    $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                    $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                    var sid = $(this).val();
                                    console.log(sid);
                                    var form = {
                                        "L1CatCode": gid,
                                        "L2CatCode": cid,
                                        "L2LocCode": sid,
                                        "L1LocCode": Location1
                                    };
                                    var formData = {
                                        type: "POST",
                                        data: form
                                    };
                                    getL3Location(formData, function (response) {
                                        $.each(response.data, function (key, value) {
                                            $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
                                        });
                                        $("#AssetRoomNo").change(function () {
                                            $('#AssetRoomType').find('option').remove().end().append('<option value="null">Asset Room Type</option>');
                                            $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                            var rid = $(this).val();
                                            console.log(rid);
                                            var form = {
                                                "L1CatCode": gid,
                                                "L2CatCode": cid,
                                                "L2LocCode": sid,
                                                "L3LocCode": rid,
                                                "L1LocCode": Location1
                                            };
                                            var formData = {
                                                type: "POST",
                                                data: form
                                            };
                                            getL4Location(formData, function (response) {
                                                $.each(response.data, function (key, value) {
                                                    $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
                                                });
                                                $("#AssetRoomType").change(function () {
                                                    $('#AssetFloor').find('option').remove().end().append('<option value="null">Asset Floor</option>');
                                                    var tid = $(this).val();
                                                    console.log(tid);
                                                    var form = {
                                                        "L1CatCode": gid,
                                                        "L2CatCode": cid,
                                                        "L2LocCode": sid,
                                                        "L3LocCode": rid,
                                                        "L4LocCode": tid,
                                                        "L1LocCode": Location1
                                                    };
                                                    var formData = {
                                                        type: "POST",
                                                        data: form
                                                    };
                                                    console.log(formData);
                                                    getL5Location(formData, function (response) {
                                                        $.each(response.data, function (key, value) {
                                                            $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
                                                        });
                                                    });
                                                });
                                            });
                                        });
                                    });
                                });
                            });
                        });
                    });
                }

                else {
                    $('#AssetCategory').find('option').remove().end().append('<option>Asset Category</option>');
                    $('#AssetSection').find('option').remove().end().append('<option>Asset Section</option>');
                    $('#AssetRoomNo').find('option').remove().end().append('<option>Asset Room No</option>');
                    $('#AssetRoomType').find('option').remove().end().append('<option>Asset Room Type</option>');
                    $('#AssetFloor').find('option').remove().end().append('<option>Asset Floor</option>');
                    location.reload();
                }
            });
        });
        getL2Category(formData, function (response) {
            console.log(response);
            $.each(response.data, function (key, value) {
                $("#AssetCategory").append($("<option></option>").val(value.L2CatCode).html(value.L2CatName));
            });
        });
        getL2Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetSection").append($("<option></option>").val(value.L2LocCode).html(value.L2LocName));
            });
        });
        getL3Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetRoomNo").append($("<option></option>").val(value.L3LocCode).html(value.L3LocName));
            });
        });
        getL4Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetRoomType").append($("<option></option>").val(value.L4LocCode).html(value.L4LocName));
            });
        });
        getL5Location(formData, function (response) {
            $.each(response.data, function (key, value) {
                $("#AssetFloor").append($("<option></option>").val(value.L5LocCode).html(value.L5LocName));
            });
        });
    });
    $('#DescriptionButton').unbind().click(function () {
        $('#total').hide();
        $('#loader').show();
        $('.odd').remove();
        var Location = $("#Location").find(':selected').val();
        //var Description = $("#Description").val().toUpperCase();
        var Description = $("#Description").find(':selected').text();
        var AssetGroup = $("#AssetGroup").find(':selected').text();
        var AssetCategory = $("#AssetCategory").find(':selected').text();
        var AssetSection = $("#AssetSection").find(':selected').text();
        var AssetRoomNo = $("#AssetRoomNo").find(':selected').text();
        var AssetRoomType = $("#AssetRoomType").find(':selected').text();
        var AssetFloor = $("#AssetFloor").find(':selected').text();
        var Status = $("#Status").find(':selected').text();

        if ($("#prvExport").length != 0) {
            $("#prvExport").replaceWith("<div id='exp'></div>");
        }
        $("#exp").append("<a class='dt-button buttons-excel buttons-html5' style='margin-top:10px;' id='prvExport' href='/AssetRegister/ExportExcel?L1LocCode=" + Location + "'>Export to Excel</a>");

        if (Status == "ACTIVE") {
            $('.small-box-footer').text("Total Active Asset");
        } else if (Status == "DISPOSED") {
            $('.small-box-footer').text("Total Disposed Asset");
        } else {
            $('.small-box-footer').text("Total Asset");
        }
        
        var form = { "L1LocCode": Location, "AssetDescription": Description, "AssetNumber": null, "L1CatName": AssetGroup, "L2CatName": AssetCategory, "L2LocName": AssetSection, "L3LocName": AssetRoomNo, "L4LocName": AssetRoomType, "CODELEVEL": AssetFloor, "Status": Status };
        var formData = {
            type: "POST",
            data: form
        };
        getAsset(formData, function (response) {

            $('#exportServer').unbind().click(function () {
                console.log("clicked");
                ExportSearch(formData, function (response) {
                    console.log(response);
                });
            });
            
            var total = response.data.length;
            //alert(response.data);
            $('#total').text(total);
            $('#loader').hide();
            $('#total').show();
            Table.clear().draw();
            console.log(response.data);
            Table.rows.add(response.data).draw();
            
            //alert(response.data[0].image);

            //$('#excel').unbind().click(function () {
            //    $.each(response.data, function (key, value) {
            //        delete value.Image;
            //    });
            //    var AssetGroup = $("#AssetGroup").find(':selected').text();
            //    var AssetCategory = $("#AssetCategory").find(':selected').text();
            //    var AssetSection = $("#AssetSection").find(':selected').text();
            //    var AssetRoomNo = $("#AssetRoomNo").find(':selected').text();
            //    var AssetRoomType = $("#AssetRoomType").find(':selected').text();
            //    var AssetFloor = $("#AssetFloor").find(':selected').text();
            //    var search = [];

            //    if (AssetGroup != 'Asset Group') {
            //        search.push('Asset Group');
            //    }
            //    if (AssetGroup != 'Asset Category') {
            //        search.push('Asset Category');
            //    }
            //    if (AssetGroup != 'Asset Section') {
            //        search.push('Asset Section');
            //    }
            //    if (AssetGroup != 'Asset Room No') {
            //        search.push('Asset Room No');
            //    }
            //    if (AssetGroup != 'Asset Room Type') {
            //        search.push('Asset Room Type');
            //    }
            //    if (AssetGroup != 'Floor') {
            //        search.push('Floor');
            //    }
            //    //JSONToCSVConvertor(response.data, "Report : Asset Search Results", "Location : " + Location, "Search Criteria : " + search, true);
            //    //var JData = JSON.stringify( response.data );
            //    //var formData = { type: 'post', data: { "L1LocCode": JData } };
            //    //Export(formData,function (response) {
            //    //    console.log(response);
            //    //});
            //});
        });
    });

    $(document).on('click', '.images', function (e) {
        var image = $(this).attr('src');
        $('#myModal').on('show.bs.modal', function () {
            $("#img01").attr("src", image);
        });
    });

    function EditPurchaseDetail(obj) {
        var L1LocCode = $("#Location").find(':selected').val();
        var purchaseID = $('#editpurchasedetailformPID').val();

        if (purchaseID != undefined && purchaseID != "") {
            //$('#editpurchasedetailform').unbind().submit(function (event) {
            //    $.ajax({
            //        url: '/edit-purchase-detail/',
            //        data: { L1LocCode: L1LocCode, purchaseID: purchaseID },
            //        type: "POST"
            //    });
            //});

            $('#editpurchasedetailform').submit();            
        }
        else {
            alert("Add purchase detail to edit.");
        }
    }


</script>


