<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FAS.Services.Properties.Settings.MatrixFASConnectionString"
            connectionString="Data Source=DESKTOP-NO5L0L7\SQLEXPRESS;Initial Catalog=MatrixFAS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="FAS.Services.Properties.Settings.MatrixFAS_7_May_2018ConnectionString"
            connectionString="Data Source=DESKTOP-NO5L0L7\SQLEXPRESS;Initial Catalog=MatrixFAS_7_May_2018;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>